Flask==2.3.2
gunicorn==21.2.0

numpy==1.25.0              # turun sedikit biar pasti kompatibel
opencv-python-headless==4.10.0.84
scikit-image==0.25.0
scikit-learn==1.4.2        # versi stabil terakhir
flask_sqlalchemy==3.1.1
pymysql==1.1.0

torch==2.2.1                # versi ringan, lebih mudah build
torchvision==0.17.1         # disesuaikan dengan torch
Pillow==10.2.0
requests==2.31.0
geopy==2.4.1
pytz==2024.1
